.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 120px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}
.cart-container{
    background-color: #fbe3b4;
}
.pagination{
    margin: 0 auto;
    margin-top: 100px;
}
.pagination button{
    margin-left: 10px;
    padding: 7px;
    border-radius: 0;
}

.pagination .selected{
    background-color: goldenrod;
    font-weight: bold;

}